.centered_text{
  text-align: center;
}

.navbar_back {
  background-color: rgba(95,107,255,0.49);
  padding: 2%;
  width: 100%;
  height: 2%;
  z-index: 0;
}
.navbar_btn_container{
  display: flex;
  gap: 2%;
}

.registration_flex{
  display: flex;
  gap: 5%;
  text-align: center;
  align-content: center;
}

.registration_page {
  background-color: rgba(95,107,255,0.13);
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  justify-items: center;
  padding: 10%;
}

.card_registration {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  padding: 2%;
  margin: 1% 1% 1% 28%;
  width: 40%;
}

.tips_registration {
  margin-left: 10%;
}

.login_page {
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  justify-items: center;
  padding: 5% 5% 10%;
}

.card_login {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  padding: 4%;
  margin-left: 25%;
  width: 50%;
}

.grid-container-user {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.mainbar {
  padding: 20px;
  width: auto;
  height: 1024px;
  background-color: rgba(90, 90, 92, 0.24);
}

.join_page {
  margin: 3%;
}

.back_emul{
  background-color: #161616;
  color: white;
  width: 100%;
  height: 100%;
  padding: 2%;
}
.second_level_emul{
  background-color: #404040;
  width: auto;
  padding: 2%;
  height: auto;
}

.card_text {
  border: solid #404040;
  border-radius: 2px;
  width:  500px;
  height: 100px;
}
.timer_block {
  width: 300px;
  height: auto;
}
.large_letters{
  font-size: 70px;
}

.mute_back{
  position: absolute;
  margin: 200px 280px;
  background: rgba(148, 148, 153, 0.39);
  z-index: 0;
}
.card-modal{
  background-color: #404040;
  border: solid rgba(28,146,160,1);
  padding: 2%;
  width: 1000px;
  height: 500px;
}
.modal-inputs{
  background: #2b2b2b;
  color: white;
  width: 50px;
}
.modal-button{
  margin-left: 45%;
  border: solid rgba(28,146,160,1);
  background: #757575;
}

.modal-select{
  background: #2b2b2b;
  color: white;
  width: 150px;
}
.nav-advanced{
  background: #161616;
  color: white;
  padding: 1%;
  width: 100%;
  height: auto;
}
.button-advanced{
  color: white;
  background: #404040;
  border: solid rgba(28,146,160,1);
  width: 16.6%;
  height: 53px;
  text-decoration: none;
  text-align: center;
  padding-top: 0.5%;
}
a {
  text-decoration: none;
}

.button-advanced-clicked{
  color: white;
  background: #7c7c7c;
  border: solid rgb(28, 146, 160);
  width: 16.6%;
  height: 50px;
}

.progress_bar {
  width: 50%;
  height: 26px;
  background: #1c919f;
}
.border_progress{
  width: 100%;
  height: 30px;
  border: solid 2px #2b2b2b;
}

.elem_width{
  width: 20%;
}

.elem_width2{
  width: 40%;
}

.flex_perf{
  width: 100%;
  display: flex;
  gap: 5%;
}
.grid_layout{
  margin-top: 2%;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.container_bios {
  padding: 5%;
  background: #161616;
}
.text-colored{
  color: #1c919f;
}

.simple-button{
  width: 100px;
  border: solid rgba(28,146,160,1);
  background: #757575;
  padding: 1%;
}

.result_page{
  margin: 5%;
  border: 2px solid blue;
  border-radius: 3px;
  padding: 2%;
}

.modal_create_practice {
  border: 2px solid blue;
  border-radius: 3px;
  padding: 3%;
}

.critical_interval_part {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(255,8,27,0.5);
  width: 100px;
  height: 25px;

  padding: 2px;
  text-align: center;
}

.normal_interval_part {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(255,247,6,0.5);
  width: 100px;
  height: 25px;

  padding: 2px;
  text-align: center;
}

.perfect_interval_part {
  display: block;
  padding: 2px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(17,255,13,0.5);
  width: 100px;
  height: 25px;
}

.flex_interval{
  width: 100%;
  display: flex;
}

.modal_downloading {
  position: fixed;
  margin: 0px;
  padding-left: 50%;
  padding-top: 20%;
  z-index: 2;
  width: 1700px;
  height: 1000px;
  background-color: rgba(72,72,72,0.37)
}

.group_card {
  padding: 2%;
  margin: 1%;
  border: rgba(44,43,45,0.37) solid 2px;
  border-radius: 3px;
}

.group_card_green {
  padding: 2%;
  margin: 1%;
  border: rgb(24, 171, 24) solid 2px;
  border-radius: 3px;
}

.group_card_red {
  padding: 2%;
  margin: 1%;
  border: rgb(165, 12, 12) solid 2px;
  border-radius: 3px;
}
.task_card {
  padding: 2%;
  margin: 1%;
  border: rgba(46, 24, 67, 0.37) solid 2px;
  border-radius: 3px;
}

.flex_btn{
  width: auto;
  display: flex;
  gap: 3px
}

.alertModal{
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 1800px;
  background-color: rgba(180,0,5,0.47);
}

.emulator_container {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

body{
  overflow-x: hidden;
}

.background_emulator {
  position: absolute;
  top: 13%;
  width: 100%;
  height: 100%;
  background: #161616;
  color: white;
}

.top_bar_emulator {
  padding: 2%;
  display: flex;
  gap: 2%;
  height: auto;
  width: 100%;
  background-color: #404040;
  color: white;
}

.info_mrg{
  padding-top: 2%;
  color: blue;
}

.modal_date_time {
  position: fixed;
  margin-left: 25%;
  margin-top: 7%;
  padding: 3%;
  z-index: 2;
  width: 50%;
  height: auto;
  border: #1c919f solid 2px;
  background-color: #404040;
}

.second_focus{
  margin: 2%;
  padding: 1%;
  background-color: #404040;
}

.flex_monitor {
  display: flex;
  gap: 3%;
  padding: 1%;
  width: 100%;
  height: auto;
}

.flex_progress_label{
  display: flex;
  gap: 2%;
}
.line_progress_wrapper{
  height: 35px;
  width: 200px;
  border: #1c919f solid 2px;
  background-color: #7c7c7c;
}

.line_progress_entity {
  height: 31px;
  background-color: #39e013;
  width: 20%;

}

.text_align_right{
  text-align: right;
}


.flex_simple {
  margin-top: 5px;
  display: flex;
  gap: 20px
}

.button_adv_item {
  margin: 1%;
  padding: 1%;
  width: 40%;
  height: auto;
  border: #7c7c7c solid 2px;
}

.warning-alert-container{
  margin: 10%;
  position: absolute;
  padding: 3px;
  width: 55%;
  height: auto;
  background-color: #dc143c;
  border: brown solid 5px;
}

.warning-alert-body {
  padding: 1%;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  border: brown solid 5px;
}

.warnind-alert-button {
  padding: 1%;
  margin: 2%;
  align-self: center;
  border: #0c0606 solid 5px;
}



